
body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #f0f0f0;
}

body.normal {
    background-color:blue ;
}
.container {
transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}


.container.neutro {
background-color: #fff;
color: #333;
}


.container.normal {
background-color: #a4c4e7;
color: #1a4f8d;
}


.container.abaixo, .container.acima, .container.obesidade {
background-color: #ffcccc;
color: #cc0000;
}