.tabela {
    text-align: center;
}

.tabela h2 {
    font-size: 2em;
}

.imcSpan {
    font-weight: bold;
    font-size: 1.2em;
    color: inherit; 
}


tr.normal {
    color: #1a4f8d;
    font-weight: bold;
}


tr.abaixo, tr.acima, tr.obesidade {
    color: #cc0000; 
    font-weight: bold;
}